[Unit]
Description=DLS node - Distributed log store node - readonly instance
Documentation=https://github.com/sociomantic-tsunami/dlsnode/

AssertPathExists=/srv/dlsnode/readonly
Wants=local-fs.target network-online.target
After=local-fs.target network-online.target

[Service]
Type=simple
User=dlsnodereadonly
Group=dlsnode
WorkingDirectory=/srv/dlsnode/readonly
ExecStart=/srv/dlsnode/readonly/dlsnode-readonly -c etc/config.ini
ExecReload=/bin/kill -HUP $MAINPID
ProtectHome=true
ProtectSystem=full
RuntimeDirectory=dlsnode-readonly
Restart=on-failure

# Note infinity is used instead of unlimited
LimitNOFILE=100000:100000
LimitCORE=infinity:infinity

[Install]
WantedBy=multi-user.target
